body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2a44;
  color: white;
  padding: 20px 40px;
}

.header h1 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    flex: 1;
}

.logo img,
.escudo img {
    height: 60px;
    object-fit: contain;
}


.header img {
  height: 60px;
}

/* NAV */
nav {
    background-color: #dcdcdc;
    padding: 8px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color: #1f2a44;
    font-weight: 600;
    transition: 0.3s ease;
}

nav ul li a:hover {
    background-color: #1f2a44;
    color: white;
    border-radius: 4px;
}


/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: #f9f9f9;
}

.hero,
.servicios {
    max-width: 1200px;
    margin: 0 auto;
}


.hero h2 {
    font-size: 36px;
    font-weight: 600;
    color: #1f2a44;
}

.hero p {
    font-size: 18px;
    color: #555;
}


.hero button {
    padding: 12px 30px;
    background-color: #1f2a44;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    transition: 0.3s ease;
}

.hero button:hover {
    background-color: #2f3e66;
    transform: translateY(-2px);
}

/* QUIENES SOMOS */

.quienes-somos {
    background-color: white;
    padding: 70px 20px;
}

.quienes-somos .contenedor {
    max-width: 1000px;
    margin: 0 auto;
}

.quienes-somos h2 {
    text-align: center;
    font-size: 30px;
    color: #1f2a44;
    margin-bottom: 30px;
}

.quienes-somos h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #1f2a44;
    margin: 10px auto 0;
}


.quienes-somos p {
    font-size: 17px;
    line-height: 1.7;
    color: #444;
    text-align: justify;
    margin-bottom: 20px;
}



/* SERVICIOS */
.servicios {
  padding: 50px 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 30px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

/* FOOTER */
footer {
  background-color: #1f2a44;
  color: white;
  text-align: center;
  padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer i {
    margin-right: 8px;
    color: #ff4d6d;
}


