* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.main-image-container {
  width: 70%;
  height: 100vh;
  background-image: url("login-image.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(60%);
  color: white;
  flex-direction: column;
  font-size: 60px;
}

.main-image-container p {
  font-size: 50px;
  color: rgb(244, 241, 241);
}

.login-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
