* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.main-image-container {
  width: 70%;
  height: 100vh;
  background-color: rgb(8, 0, 0);
  /* text-align: center; */
  display: flex;
  justify-content: center;
   align-items: center;
}

.main-image-container img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.main-image-container p {
  font-size: 50px;
  /* display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center; */
  color: rgb(244, 241, 241);
}

.login-container {
  width: 30%;
  text-align: center;
}

h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


