<header>
  <div class="logo">
    <img src="/images/notaria_logo.png" alt="Logo Notaría" />
  </div>
  <div class="titulo-header">
    <h1>Notaría Segunda de Medellín</h1>
    <h3 class="notario">Carlos Olmedo Arias Rey</h3>
  </div>
  <div class="escudo">
    <img src="/images/escudos_imagen.png" alt="Escudo" />
  </div>
</header>
<nav>
  <ul>
    <li><a id="index" href="/index.html">Inicio</a></li>
    <li>
      <a id="escrituracion" href="/pages/ESCRITURACION.html">Escrituración</a>
    </li>
    <li>
      <a id="registro_civil" href="/pages/REGISTRO_CIVIL.html"
        >Registro Civil</a
      >
    </li>
    <li>
      <a id="autenticaciones" href="/pages/AUTENTICACIONES.html"
        >Autenticaciones</a
      >
    </li>
    <li>
      <a id="preguntas_frecuentes" href="/pages/PREGUNTAS_FRECUENTES.html"
        >Preguntas Frecuentes</a
      >
    </li>
    <li><a id="contacto" href="/pages/CONTACTO.html">Contacto</a></li>
  </ul>
</nav>
