/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ================= HEADER ================= */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9edf3;
    padding: 15px 40px;
}

.logo img {
    height: 70px;
}

.escudo img {
    height: 60px;
}

.titulo-header {
    text-align: center;
}

.titulo-header h1 {
    color: #1f2f4a;
    font-size: 26px;
}

.notario {
    color: #5a6a85;
    font-weight: 500;
}

/* ================= NAV ================= */

nav {
    background-color: #dcdcdc;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: #1f2f4a;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover,
nav a.activo {
    background-color: #1f2f4a;
    color: white;
    /* border-radius: 4px; */
}

/* ================= BANNER INTERNO ================= */

.banner-interno {
    background-color: #1f2f4a;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.banner-interno h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.banner-interno p {
    font-size: 18px;
    opacity: 0.9;
}

/* ================= CONTENIDO ================= */

.contenedor {
    max-width: 1000px;
    margin: auto;
}

.contenido-interno {
    padding: 60px 20px;
    background-color: #f4f6f9;
}

.bloque {
    background-color: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 6px;
    border-left: 5px solid #1f2f4a;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.bloque h3 {
    margin-bottom: 15px;
    color: #1f2f4a;
}

.bloque p {
    line-height: 1.6;
    color: #444;
}

.bloque ul {
    margin-left: 20px;
    margin-top: 10px;
}

.bloque li {
    margin-bottom: 8px;
}

/* ================= FOOTER ================= */

footer {
    background-color: #1f2f4a;
    color: white;
    text-align: center;
    padding: 25px 15px;
}

footer p {
    margin: 8px 0;
}

footer a {
    color: white;
    text-decoration: none;
}
