/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ================= FONDO CON IMAGEN ================= */
body {
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background:
    linear-gradient(rgba(20, 40, 70, 0.7), rgba(20, 40, 70, 0.7)),
    url("../images/fondo-esc.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  z-index: -1;
}

/* ================= HEADER ================= */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9edf3;
  padding: 15px 40px;
}

.logo img {
  height: 70px;
}

.escudo img {
  height: 60px;
}

.titulo-header {
  text-align: center;
}

.titulo-header h1 {
  color: #1f2f4a;
  font-size: 26px;
}

.notario {
  color: #5a6a85;
  font-weight: 500;
}

/* ================= NAV ================= */

nav {
  background-color: #dcdcdc;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  color: #1f2f4a;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover,
nav a.activo {
  background-color: #1f2f4a;
  color: white;
}

/* ================= BANNER INTERNO ================= */

.banner-interno {
  background-color: rgba(31, 47, 74, 0.9);
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.banner-interno h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

/* ================= CONTENIDO ================= */

.contenedor {
  max-width: 1000px;
  margin: auto;
}

.contenido-interno {
  padding: 60px 20px;
}

.bloque {
  background-color: rgba(253, 253, 253, 0.97);
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 6px;
  border-left: 5px solid #1f2f4a;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.bloque h3 {
  margin-bottom: 15px;
  color: #1f2f4a;
}

.bloque p {
  line-height: 1.6;
  color: #444;
}

.bloque ul,
.bloque ol {
  margin-left: 20px;
  margin-top: 10px;
}

/* ================= FOOTER ================= */

footer {
  background-color: #1f2f4a;
  color: white;
  text-align: center;
  padding: 25px 15px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer p {
  margin: 8px 0;
}
