/* ================= BANNER INTERNO ================= */

.banner-interno {
  background-color: #1f2f4a;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.banner-interno h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

/* ================= CONTENIDO ================= */

.contenedor {
  max-width: 1000px;
  margin: auto;
}

.contenido-interno {
  padding: 60px 20px;
}

.bloque {
  background-color: rgba(253, 253, 253, 0.97);
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 6px;
  border-left: 5px solid #1f2f4a;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.bloque h3 {
  margin-bottom: 15px;
  color: #1f2f4a;
}

.bloque p {
  line-height: 1.6;
  color: #444;
}

.bloque ul,
.bloque ol {
  margin-left: 20px;
  margin-top: 10px;
}
