/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ================= HEADER ================= */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9edf3;
  padding: 15px 40px;
}

.logo img {
  height: 70px;
}

.escudo img {
  height: 60px;
}

.titulo-header {
  text-align: center;
}

.titulo-header h1 {
  color: #1f2f4a;
  font-size: 26px;
}

.notario {
  color: #5a6a85;
  font-weight: 500;
}

/* ================= NAV ================= */
nav {
  background-color: #dcdcdc;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  color: #1f2f4a;
  font-weight: bold;
  transition: 0.3s;
}

/* Activo */
nav a:hover,
nav a.activo {
  background-color: #1f2f4a;
  color: white;
}

/* ================= FOOTER ================= */
footer {
  background-color: #1f2f4a;
  color: white;
  text-align: center;
  padding: 25px 15px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer p {
  margin: 8px 0;
}
