/* ================= HERO ================= */

.hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 35%; /* Ajusta aquí si quieres mover la imagen */
}

/* Oscurecer imagen */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 47, 74, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Contenido */
.hero-contenido {
  color: white;
  max-width: 800px;
  padding: 20px;
}

.hero-contenido h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-contenido p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Botón */
.btn-hero {
  background-color: white;
  color: #1f2f4a;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-hero:hover {
  background-color: #1f2f4a;
  color: white;
  border: 1px solid white;
}

/* ================= QUIENES SOMOS ================= */

.quienes-somos {
  padding: 60px 20px;
  background-color: #f4f6f9;
  text-align: center;
}

.quienes-somos h2 {
  color: #1f2f4a;
  margin-bottom: 20px;
}

.quienes-somos p {
  max-width: 800px;
  margin: auto;
  font-size: 17px;
  color: #444;
}
