/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ================= HEADER ================= */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9edf3;
  padding: 15px 40px;
}

.logo img {
  height: 70px;
}

.escudo img {
  height: 60px;
}

.titulo-header {
  text-align: center;
}

.titulo-header h1 {
  color: #1f2f4a;
  font-size: 26px;
}

.notario {
  color: #5a6a85;
  font-weight: 500;
}

/* ================= NAV ================= */

nav {
  background-color: #dcdcdc;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  color: #1f2f4a;
  font-weight: bold;
  transition: 0.3s;
}

/* Activo */
nav a:hover,
nav a.activo {
  background-color: #1f2f4a;
  color: white;
  /* border-radius: 4px; */
}

/* ================= HERO ================= */

.hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 35%; /* Ajusta aquí si quieres mover la imagen */
}

/* Oscurecer imagen */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 47, 74, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Contenido */
.hero-contenido {
  color: white;
  max-width: 800px;
  padding: 20px;
}

.hero-contenido h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-contenido p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Botón */
.btn-hero {
  background-color: white;
  color: #1f2f4a;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-hero:hover {
  background-color: #1f2f4a;
  color: white;
  border: 1px solid white;
}

/* ================= QUIENES SOMOS ================= */

.quienes-somos {
  padding: 60px 20px;
  background-color: #f4f6f9;
  text-align: center;
}

.quienes-somos h2 {
  color: #1f2f4a;
  margin-bottom: 20px;
}

.quienes-somos p {
  max-width: 800px;
  margin: auto;
  font-size: 17px;
  color: #444;
}

/* ================= FOOTER ================= */

footer {
  background-color: #1f2f4a;
  color: white;
  text-align: center;
  padding: 25px 15px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer p {
  margin: 8px 0;
}
